<div class="container">

  <div class="top">
    <div class="header">

      <div class="item">
        <mat-form-field>
          <input matInput [(ngModel)]="inputClientIIN" (keyup)="applyFilterClientIIN()" placeholder="ИИН">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <input matInput [(ngModel)]="inputClientName" (keyup)="applyFilterClientName()" placeholder="Название">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="update">
        <div *ngIf="isMobipay">
          <button mat-raised-button color="primary" (click)="dlgUpdateLimits()">Обновить лимиты</button>
        </div>
      </div>

    </div>
  </div>

  <div class="profiles">
    <mat-table [dataSource]="dataSource"
               matSort
               matSortActive="creationDate"
               matSorirection="desc"
               matSorisableClear
               (matSortChange)="sortData($event)">

      <ng-container matColumnDef="clientName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Название</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.clientName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="clientIin">
        <mat-header-cell *matHeaderCellDef> ИИН/БИН</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.clientIin }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="managedBy">
        <mat-header-cell *matHeaderCellDef> Менеджер</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.managedBy }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="types">
        <mat-header-cell *matHeaderCellDef> Тип</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.types }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="segments">
        <mat-header-cell *matHeaderCellDef> Сегмент</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.segments }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="payments">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openClientPayments(element)">
            <mat-icon>view_list</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [length]="totalRows"
                   [pageSize]="pageSize"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)"
                   aria-label="Select page"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
