/* стили таблицы -> */
.mat-table {
    display: table;
    width: 100%;
}
.mat-header-row, .mat-row {
    display: table-row;
}

.mat-header-cell, .mat-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1%;
    /* word-wrap: break-word; */
}
.mat-row:hover {
    background-color: #eeeeee;
}

.mat-column-num {
    width: 15%;
}

.mat-column-phone {
    width: 25%;
}

.mat-column-account {
    width: 20%;
}

.mat-column-sum {
    width: 20%;
}

/* <- стили таблицы */