.container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "title title title"
            "login login login"
            "pwd pwd pwd"
            ". btnLogin btnCancel";
    justify-self: center;
    align-self: center;
    gap: 5px;
    grid-gap: 5px;
    width:100%;
    height: 100%;
    overflow-y: hidden !important;
}

.title {
    grid-area: title;
    justify-self: center;
}

.login {
    grid-area: login;
    justify-self: center;
}

.pwd {
    grid-area: pwd;
    justify-self: center;
}

.btnLogin {
    grid-area: btnLogin;
    justify-self: end;
    align-self: end;
}

.btnCancel {
    grid-area: btnCancel;
    justify-self: start;
    align-self: end;
}
