<form class="login-form">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1 mat-dialog-title>Вход в NCP</h1>
    </div>

    <div mat-dialog-content>
        <mat-form-field class="login-full-width">
            <input matInput placeholder="Логин" required [(ngModel)]="userName" name="userName">
        </mat-form-field>
        <mat-form-field class="login-full-width">
            <input matInput placeholder="Пароль" type="password" required [(ngModel)]="userPassword" name="userPassword">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="login()">Войти</button>
            <button mat-raised-button color="primary" [mat-dialog-close] cdkFocusInitial>Отмена</button>
        </div>
    </div>
</form>