<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>БИН:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? registry.properties.bin : null }}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>Компания:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? registry.properties.company : null }}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>Телефон:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? registry.properties.phone : null}}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>E-mail:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? registry.properties.email : null }}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>Комментарий:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? registry.properties.comment : null }}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-h3"><b>Общая сумма реестра:</b></p>
    </div>
    <div fxLayout="column" ngClass="longTitle">
        <p class="mat-h3">{{ registry ? (registry.properties.total | currency : ' тг.') : null }}</p>
    </div>
</div>