.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "container";
}

.container_item {
  grid-area: container;
  justify-self: center; /* align by column */
  align-self: center; /* align by row */
  place-self: center;
  width: 70%;
  margin-top: 3%;
}

.template {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 50px 20px 20px 30px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "title menu"
    "company company"
    "bin bin"
    "search search"
    "table table";
  border: 1px solid lightgrey; /* Параметры границы */
}

.title_box {
  grid-area: title;
  align-self: center; /* align by row */
  place-self: center;
  justify-self: center;
}

.menu {
  grid-area: menu;
  justify-self: right; /* align by column */
}

.company {
  grid-area: company;
  justify-self: center;
  align-self: center;
  place-self: center;
}

.bin {
  grid-area: bin;
  justify-self: center;
  align-self: center;
  place-self: center;
}

.table {
  grid-area: table;
}

#shadow_box {
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.search {
  grid-area: search;
  justify-self: right; /* align by column */
  align-self: center; /* align by row */
}
