<div class="container">
  <div class="container_item">
    <div class="template" id="shadow_box">
      <div class="title_box">
        <h2 class="mat-h2">Шаблон ID {{ template.id }}</h2>
        <!-- <h2>Шаблон ID 111</h2> -->
      </div>
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="stub()">
            <span>Открыть</span>
          </button>
        </mat-menu>
      </div>
      <div class="company">
        <h3 class="mat-h3">Компания "{{ profile.clientName }}" БИН {{ profile.clientIIN ? profile.clientIIN : profile.clientBIN  }}</h3>
        <!-- <h3>Компания "11111111111111 111111 1" БИН 1111111111111111</h3> -->
      </div>
      <div class="search">
        <mat-form-field>
          <mat-label>Поиск..</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="поиск" #input>
        </mat-form-field>
        <!-- <input /> -->
      </div>
      <div class="table">
        <app-template-details-table [template]="template"></app-template-details-table>
        <!-- Table Table Table Table<br />
        Table Table Table Table<br />
        Table Table Table Table<br />
        Table Table Table Table<br /> -->
      </div>
    </div>
  </div>
</div>
<!-- <simple-notifications></simple-notifications> -->
