<div class="object">
    <div class="topGap"></div>
    <div class="item">
        <mat-card>
            <div class="container">

                <div class="header">
                    <h2 class="mat-h2">Реестр # {{ registry ? registry.properties.id : null}} от {{ registry ? (registry.properties.created | date) : null }}</h2>
                </div>
                <div class="menu">
                    <!-- <app-payment-menu (selectedItem)="onSelected($event)"></app-payment-menu> -->
                </div>

                <div class="properties">
                    <app-registry-properties [registry]="registry"></app-registry-properties>
                </div>

                <div class="details">
                    <mat-divider></mat-divider>
                    <app-registry-details></app-registry-details>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<simple-notifications></simple-notifications>