<input type="file" #file style="display: none" (change)="onFileAdded()"/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title>Загрузка файла</h1>
    <div>
        <button mat-raised-button color="primary" class="add-files-btn" (click)="addFile()">
            Открыть файл
        </button>
    </div>
    <mat-dialog-content fxFlex>
        <mat-list>
            <mat-progress-bar mode="indeterminate" *ngIf="isWait"></mat-progress-bar>
        </mat-list>
        <mat-list>
            <mat-list-item>
                <h4 mat-line *ngIf="fileObj">{{ fileObj.name}}</h4>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
        <button mat-raised-button color="primary" [mat-dialog-close]>Отмена</button>
        <button mat-raised-button color="primary" (click)="upload()">загрузить платёж</button>
    </mat-dialog-actions>
</div>