.container {
    display: grid;
    grid-template-areas:
            ". . .";
    grid-template-rows: auto;
    grid-template-columns: 2%  auto 2%;
}

.content {
    display: grid;
    grid-template-areas:
            "."
            ".";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}
