<div class="container">
    <div></div>
    <div>
        <div class="content">
            <div>
                <div class="panel">
                    <div class="inputs">
                        <div></div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>№ Договора</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div></div>

                        <div></div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>ИИН/БИН</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div></div>

                        <div></div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Название</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div></div>

                        <div></div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Менеджер</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <div class="buttons">
                                <div>
                                    <button mat-raised-button color="primary">Поиск</button>
                                </div>
                                <div>
                                    <button mat-raised-button color="primary">Очистить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="clients">
                    <app-clents-list></app-clents-list>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
