.form {
    display: grid;
    grid-template-areas:
            "header"
            "list"
            "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
    justify-self: center;
}

.area {
    width: 100%;
    height: 35vh;
}

.list {
    grid-area: list;
    height: 40vh;
}

.footer {
    grid-area: footer;
}

.buttons {
    display: grid;
    grid-template-areas:
            ". . .";
    grid-template-rows: auto;
    grid-template-columns: auto 15% 15%;
    grid-column-gap: 10px;
}
