<h1 mat-dialog-title>Установка будущей даты разноски платежа</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Укажите дату</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary"  [mat-dialog-close]="data.date" cdkFocusInitial>Отложить</button>
    <button mat-raised-button color="primary" [mat-dialog-close]>Закрыть</button>
</div>
