<mat-form-field>
    <mat-label>Поиск..</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="поиск" #input>
</mat-form-field>
<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Название шаблона</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef> Компания</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ profile.clientName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bin">
        <mat-header-cell *matHeaderCellDef> БИН</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ profile.clientBIN ? profile.clientBIN : profile.clientIIN  }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="menu">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
            <div class="menu">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="open(item)">
                        <span>Открыть</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
