<div class="mainContainer">
    <div class="top">
        <div ngClass="header">
            <div ngClass="item">
                <app-date-range></app-date-range>
            </div>
            <div ngClass="item">
                <button mat-raised-button color="primary" (click)="loadData()"
                        matTooltip="Загрузка данных за указанную дату">
                    Загрузка
                </button>
            </div>
            <div ngClass="item">
            </div>
            <div ngClass="item">
                <button mat-raised-button color="primary" (click)="export()" matTooltip="Экспорт в Excel">
                    Экспорт
                </button>
            </div>
            <div ngClass="search">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Быстрый поиск">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="payments">
        <app-raw-table [dateRangeComponent]="dateRangeComponent" [selection]="selection"></app-raw-table>
    </div>
</div>
<simple-notifications></simple-notifications>
