<div *ngIf="payment">
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Действия над платежом">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="!canPasteRegistryFromBuffer()" (click)="select(paymentMenuItems.REGISTRY)">
            <span>Реестр</span>
        </button>
        <button mat-menu-item [disabled]="!canLoadEquipment()" (click)="select(paymentMenuItems.LOAD_EQUIPMENT)">
            <span>Оборудование</span>
        </button>
        <button mat-menu-item [disabled]="!canTransit()" (click)="select(paymentMenuItems.TRANSIT)">
            <span>На транзит</span>
        </button>
        <button mat-menu-item [disabled]="!canDelTransit()" (click)="select(paymentMenuItems.DEL_TRANSIT)">
            <span>Удалить с транзита</span>
        </button>
        <button mat-menu-item [disabled]="!canDefer()" (click)="select(paymentMenuItems.DEFER)">
            <span>Отложить</span>
        </button>
        <button mat-menu-item [disabled]="!canDistribute()" (click)="select(paymentMenuItems.DISTRIBUTE)">
            <span>Разнести</span>
        </button>
        <button mat-menu-item [disabled]="!canDel()" (click)="select(paymentMenuItems.DEL)">
            <span>Отменить</span>
        </button>
    </mat-menu>
</div>
