<mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> {{ detailTableColumnsDisplay.num }}</th>
        <td mat-cell *matCellDef="let i = index"> {{ paginator.pageIndex < 1 ? i + 1 : (i + 1) + (paginator.pageIndex * 10) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="nomenclature">
        <th mat-header-cell *matHeaderCellDef> {{ detailTableColumnsDisplay.nomenclature }}</th>
        <td mat-cell *matCellDef="let detail"> {{detail.nomenclature }}</td>
    </ng-container>

    <ng-container matColumnDef="msisdn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ detailTableColumnsDisplay.msisdn }}</th>
        <td mat-cell *matCellDef="let detail"> {{ detail.msisdn | phonePipe }}</td>
    </ng-container>

    <ng-container matColumnDef="icc">
        <th mat-header-cell *matHeaderCellDef> {{ detailTableColumnsDisplay.icc }}</th>
        <td mat-cell *matCellDef="let detail"> {{detail.icc }}</td>
    </ng-container>

    <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ detailTableColumnsDisplay.account }}</th>
        <td mat-cell *matCellDef="let detail"> {{ detail.account == 0 ? '' : detail.account }}</td>
    </ng-container>

    <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef> {{ detailTableColumnsDisplay.sum }}</th>
        <td mat-cell *matCellDef="let detail"> {{ detail.sum | currency : ' тг.' :'symbol':'0.0-6'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> {{ detailTableColumnsDisplay.status }}</th>
        <td mat-cell *matCellDef="let detail">
            <button mat-mini-fab disabled *ngIf="detail.status == paymentStatuses.DISTRIBUTED || detail.status == paymentStatuses.TRANSIT_DISTRIBUTED ">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="detail.status == paymentStatuses.ERR ||
                detail.status == paymentStatuses.TRANSIT_ERR ||
                detail.status == paymentStatuses.DELETED"
                    matTooltip="{{ detail.err }}">
                <mat-icon>error</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-mini-fab color="primary" (click)="delAll()" *ngIf="canDelSome()" matTooltip="{{ tooltips.delAll }}">
                <mat-icon>clear</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let detail">
            <button mat-mini-fab color="primary" (click)="del(detail)" *ngIf="canDelSome()" matTooltip="{{ detailTableColumnsDisplay.del }}">
                <mat-icon>clear</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</mat-table>

<mat-paginator [length]="payment.details.length" [pageSize]="10" showFirstLastButtons></mat-paginator>


<div fxLayout="row" fxLayoutAlign="end center">
    <p class="mat-h3">Итого: {{ sum() | currency : ' тг.' :'symbol':'0.0-6' }}</p>
</div>

