<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Действия над платежом">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <!--<button mat-menu-item [disabled]="(payment.status == paymentStatuses.STATUS_DISTRIBUTED ||
                                       payment.status == paymentStatuses.STATUS_EXPIRED ||
                                       payment.status == paymentStatuses.STATUS_DELETED)" (click)="openFileDialog()">
        <span>Загрузить разноски - оборудование</span>
    </button>-->
    <button mat-menu-item (click)="openFileDialog()">
        <span>Загрузить разноски - оборудование</span>
    </button>
    <button mat-menu-item [disabled]="(operations.length == 0 || (payment.status == paymentStatuses.STATUS_DISTRIBUTED ||
                                       payment.status == paymentStatuses.STATUS_EXPIRED ||
                                       payment.status == paymentStatuses.STATUS_DELETED))" (click)="distribute()">
        <span>Разнести</span>
    </button>
</mat-menu>