<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button id="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Onlinebank</span>

        <span>
             <a routerLink="/onlinebank/payment/ncp" routerLinkActive="router-link-active"><button mat-button>Платежи NCP</button></a>
        </span>

        <span class="example-spacer"></span>
        <!--<mat-icon class="example-icon">favorite</mat-icon>-->
        <mat-icon class="example-icon">exit_to_app</mat-icon>

    </mat-toolbar-row>
</mat-toolbar>