.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "payments";
    justify-self: center;
    align-self: center;
}

.item {
    justify-self: center;
    align-self: center;
}

.search {
    grid-area: search;
    justify-self: end;
}

.header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
            minmax(max-content, max-content)
            minmax(max-content, max-content)
            minmax(max-content, max-content)
            minmax(max-content, max-content)
            minmax(max-content, auto);
    grid-template-areas:
            "item item item item search"
            "payments payments payments payments payments";
    gap: 5px;
    grid-gap: 5px;
}

.payments {
    grid-area: payments;
}

.mat-table {
    display: table;
    width: 100%;
}
.mat-header-row, .mat-row {
    display: table-row;
}

.mat-header-cell, .mat-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1%;
    /* word-wrap: break-word; */
}
.mat-row:hover {
    background-color: #eeeeee;
}

.row_highlight {
    background: #ccffe6;
}

.mat-column-managers {
    width: 10%;
}

