<div class="mainContainer">

    <div class="top">
        <div ngClass="header">
            <div ngClass="item">
                <app-date-range></app-date-range>
            </div>
            <div ngClass="item">
                <button mat-raised-button color="primary" (click)="getData()"
                        matTooltip="Загрузка данных за указанную дату">
                    Загрузка
                </button>
            </div>
            <div ngClass="item">
                <button mat-raised-button color="primary" (click)="toTransitSelected()"
                            matBadge="{{ selection.selected.length }}"
                            matBadgePosition="before"
                            matBadgeColor="accent"
                            [matBadgeHidden]="selection.selected.length === 0"
                        matTooltip="Выделенные на транзитный счёт">Транзит
                </button>
            </div>
            <div ngClass="item">
                <button mat-raised-button color="primary" (click)="export()" matTooltip="Экспорт в Excel">
                    Экспорт
                </button>
            </div>
            <!--
            <div ngClass="item">
                <app-search-client></app-search-client>
            </div>
            -->
            <div ngClass="search">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Быстрый поиск">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="payments">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{paymentRow.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="creationDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Дата поступления </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{paymentRow.created | date:"dd.MM.yy HH:mm" }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nameSender">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Отправитель </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{paymentRow.sender}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="sum">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Сумма </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.sum | currency : ' ' }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rnnSender">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ИИН </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.rnnSender }}</mat-cell>
            </ng-container>
            <!--
            <ng-container matColumnDef="accountSender">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Банковский счёт</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> Отправитель {{paymentRow.accountSender}} Получатель: {{paymentRow.accountRecipient}}</mat-cell>
            </ng-container>
            -->
            <ng-container matColumnDef="accountSender">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Счёт отправителя</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.accSender }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="accountRecipient">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Счёт получателя</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.accRecipient }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="knp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>КНП</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.knp }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="paymentDetails">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Назначение платежа</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow">
                    {{ paymentRow.details }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="statusRu">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Статус</mat-header-cell>
                <!--<td mat-cell *matCellDef="let paymentRow"> {{ paymentRow.status | paymentStatusRuPipe: paymentRow.status }} -->
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.statusRu }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="distributeDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Дата разнесения</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.distributed | date:"dd.MM.yy HH:mm" }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="managedBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Менеджер</mat-header-cell>
                <mat-cell *matCellDef="let paymentRow"> {{ paymentRow.managedBy }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.selected.length > 0"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let paymentRow">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(paymentRow) : null"
                                  [checked]="selection.isSelected(paymentRow)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rowMenu">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>

                <mat-cell *matCellDef="let paymentRow">
                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Действия над платежом">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="menuOnRowOpenPayment(paymentRow)">
                            <span>Открыть</span>
                        </button>
                        <button mat-menu-item
                                [disabled]="(paymentRow.status == PaymentStatus.STATUS_TRANSIT  ||
                                            paymentRow.status == PaymentStatus.STATUS_TRANSIT_DISTRIBUTED ||
                                            paymentRow.status == PaymentStatus.STATUS_DISTRIBUTED)"
                                (click)="menuOnRowToTransit(paymentRow)">
                            <!--<mat-icon>dialpad</mat-icon>-->
                            <span>На транзит</span>
                        </button>
                        <button mat-menu-item [disabled]="!(paymentRow.status == PaymentStatus.STATUS_TRANSIT)"
                                (click)="menuOnRowDeleteTransit(paymentRow)">
                            <span>Удалить с транзита</span>
                        </button>
                        <button mat-menu-item [disabled]="!(paymentRow.status == PaymentStatus.STATUS_TRANSIT)">
                            <span>Разнести с транзитного счёта</span>
                        </button>
                        <button mat-menu-item [disabled]>
                            <span>Отменить</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- you can add to signature of mat-row for catch click on hole row: (click)="onRowClicked(paymentRow)"-->
            <!-- for Highlight: paymentRowHighlight [paymentStatus]="paymentRow.getStatus()"-->
            <mat-row *matRowDef="let paymentRow; columns: displayedColumns;" [ngClass]="{'row_highlight': paymentRow.status == 1 || paymentRow.status == 7 }"
                     (click)="onRowClicked(paymentRow)"></mat-row>
        </mat-table>
        <mat-paginator
                [length]="!paginatorResultsLength"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                showFirstLastButtons></mat-paginator>
    </div>
</div>
<simple-notifications></simple-notifications>
