table {
    width: 100%;
}

.mat-table .mat-row:hover {
    background-color: #eeeeee;
}

.container {
    display: grid;
    grid-template-areas:
            "title"
            "content"
            "close";
    grid-template-rows: auto auto calc(100vh - 94vh);
    grid-template-columns: auto;
}

.title {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.content {
    grid-area: msg;
}

.btnClose {
    grid-area: close;
    justify-self: end;
}
