<div class="payment">
    <div class="topGap"></div>
    <div class="paymentItem">
        <mat-card>
            <div class="container">
                <div class="item-header">
                    <div class="top">
                        <div class="item-top1">
                            <div *ngIf="payment">
                                <h1 class="mat-h1">{{ payment.paymentId }} от {{ payment.created | date }}</h1>
                            </div>
                        </div>
                        <div class="item-top2">
                            <app-payment-menu [payment]="payment" (selectedMenuItem)="menuOnSelected($event)"></app-payment-menu>
                        </div>
                    </div>
                </div>
                <div class="item-c" *ngIf="payment">
                    <app-payment-info [payment]="payment"></app-payment-info>
                    <app-add-detail [payment]="payment"></app-add-detail>
                </div>
                <div class="item-d" *ngIf="payment">
                    <app-details></app-details>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<simple-notifications></simple-notifications>
