.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(7, minmax(3vh, auto));
    grid-template-areas: "title value";
}

.title {
    font-weight: bold;
    color: gray;
}

.value {
    word-wrap: break-word;
}
