<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Клиенты
            </mat-panel-title>
            <mat-panel-description>
                Параметры поиска
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="№ договора">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="ИИН\БИН">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Название">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Менеджер">
        </mat-form-field>

    </mat-expansion-panel>
</mat-accordion>