.container {
    display: grid;
    grid-template-areas:
            "title"
            "registries";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: stretch;
    grid-gap: 5px;
}

.title {
    grid-area: title;
}

.registries {
    grid-area: registries;
    width: 100%;
}

.mat-table {
    display: table;
    width: 100%;
}

.mat-header-row, .mat-row {
    display: table-row;
}

.mat-header-cell, .mat-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1%;
    /* word-wrap: break-word; */
}
