<div class="container">

    <div class="title"></div>

    <div class="registries">

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}}</td>
            </ng-container>
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
                <td mat-cell *matCellDef="let row"> {{row.created | date : 'yyyy-MM-dd HH:MM:SS'}}</td>
            </ng-container>
            <ng-container matColumnDef="bin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> БИН </th>
                <td mat-cell *matCellDef="let row"> {{row.bin}}</td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Компания </th>
                <td mat-cell *matCellDef="let row"> {{row.company}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Телефон </th>
                <td mat-cell *matCellDef="let row"> {{row.phone}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>e-mail</th>
                <td mat-cell *matCellDef="let row"> {{row.email}}</td>
            </ng-container>
            <ng-container matColumnDef="msisdn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Опл. номер</th>
                <td mat-cell *matCellDef="let row"> {{row.msisdn}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Сумма</th>
                <td mat-cell *matCellDef="let row"> {{row.amount}}</td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- you can add to signature of mat-row for catch click on hole row: (click)="onRowClicked(row)"-->
            <!-- for Highlight: rowHighlight [paymentStatus]="row.getStatus()"-->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        <mat-paginator [length]="!paginatorResultsLength" [pageSize]="30"></mat-paginator>
    </div>

</div>
<simple-notifications></simple-notifications>