.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.mat-column-no {
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-menu {
  flex: 0 0 5% !important;
  width: 5% !important;
}

