<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between start">

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Дата начала" [formControl]="pickerStartDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Дата окончания" [formControl]="pickerEndDate"
                   (dateInput)="catchEndDatePickerEvent('input', $event)"
                   (dateChange)="catchEndDatePickerEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="getData()" matTooltip="Загрузка данных за указанную дату">Загрузка</button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" (click)="toTransit()" matBadge="{{selectedItems}}"
                matBadgePosition="before" matBadgeColor="accent" [matBadgeHidden]="!isBadgeVisible"
                matTooltip="Выделенные на транзитный счёт"
                >Транзит</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

</div>


<mat-progress-bar mode="indeterminate" *ngIf="isWait"></mat-progress-bar>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-id">ID</th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-id"> {{paymentRow.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nameSender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Отправитель</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.nameSender}}</td>
        </ng-container>
        <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-sum">Сумма</th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-sum"> {{paymentRow.sum}}</td>
        </ng-container>
        <ng-container matColumnDef="rnnSender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-iin">ИИН</th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-iin"> {{paymentRow.rnnSender}}</td>
        </ng-container>
        <ng-container matColumnDef="accountSender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-accountSender">Банковский счет
            </th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-accountSender"> {{paymentRow.accountSender}}
            </td>
        </ng-container>
        <ng-container matColumnDef="knp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-knp">КНП</th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-knp"> {{paymentRow.knp}}</td>
        </ng-container>
        <ng-container matColumnDef="paymentDetails">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-paymentDetails">Назначение
                платежа
            </th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-paymentDetails">
                {{paymentRow.paymentDetails | paymentDetailsPipe: paymentRow.paymentDetails }}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ngClass="mat-column-status">Статус</th>
            <td mat-cell *matCellDef="let paymentRow" ngClass="mat-column-status"> {{ paymentRow.status | paymentStatusRu: paymentRow.status }}
            </td>
        </ng-container>
        <ng-container matColumnDef="managers">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Менеджер</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.managers}}</td>
        </ng-container>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let paymentRow">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? processForSelect(paymentRow) : null"
                              [checked]="selection.isSelected(paymentRow)"
                >
                </mat-checkbox>
            </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="Mobipay">
            <th mat-header-cell *matHeaderCellDef>Mobipay</th>
            <td mat-cell>
                <button mat-raised-button color="accent">Mobipay</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="distribution">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell>
                <button mat-raised-button color="primary">Разнести</button>
            </td>
        </ng-container>
        -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <!-- you can add to signature of mat-row for catch click on hole row: (click)="onRowClicked(paymentRow)"-->
        <!-- for Highlight: paymentRowHighlight [paymentStatus]="paymentRow.getStatus()"-->
        <mat-row *matRowDef="let paymentRow; columns: displayedColumns;" [ngClass]="{
            'row_highlight': paymentRow.status == 1 || paymentRow.status == 7 }"></mat-row>

    </table>
    <!-- SPINNER
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner
                    color="primary"
                    mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>
        -->

<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>

</div>