<mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile>
        <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Дата начала">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Дата окончания">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="toTransit()">На транзит</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let paymentRow">
                <mat-checkbox
                              (change)="$event ? processForSelect(paymentRow) : null"
                              [checked]="selection.isSelected(paymentRow)"
                              >
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nameSender">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Отправитель</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.nameSender}}</td>
        </ng-container>
        <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Сумма</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.sum}}</td>
        </ng-container>
        <ng-container matColumnDef="rnnSender">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>ИИН</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.rnnSender}}</td>
        </ng-container>
        <ng-container matColumnDef="accountSender">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Банковский счет</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.accountSender}}</td>
        </ng-container>
        <ng-container matColumnDef="knp">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>КНП</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.knp}}</td>
        </ng-container>
        <ng-container matColumnDef="paymentDetails">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Назначение платежа</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.paymentDetails}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Статус</th>
            <td mat-cell *matCellDef="let paymentRow"> {{ paymentRow.status | paymentStatusRu: paymentRow.status }}</td>
        </ng-container>
        <ng-container matColumnDef="managers">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Менеджер</th>
            <td mat-cell *matCellDef="let paymentRow"> {{paymentRow.managers}}</td>
        </ng-container>
        <!--
        <ng-container matColumnDef="Mobipay">
            <th mat-header-cell *matHeaderCellDef>Mobipay</th>
            <td mat-cell>
                <button mat-raised-button color="accent">Mobipay</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="distribution">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell>
                <button mat-raised-button color="primary">Разнести</button>
            </td>
        </ng-container>
        -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <!-- you can add to signature of mat-row for catch click on hole row: (click)="onRowClicked(paymentRow)"-->
        <!-- for Highlight: paymentRowHighlight [paymentStatus]="paymentRow.getStatus()"-->
        <mat-row
                *matRowDef="let paymentRow; columns: displayedColumns;"

        ></mat-row>
    </table>

    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
                color="primary"
                mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>

</div>