.mat-table {
    display: table;
    width: 100%;
}
.mat-header-row, .mat-row {
    display: table-row;
}

.mat-header-cell, .mat-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1%;
    /* word-wrap: break-word; */
}

.row_highlight {
    background: #ccffe6;
}